@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

/* help.php styles */
.helpMenu{
    height: 90vh;
    width: 80vw;
    background-color: #ebebeb;
    border-radius: 15px;
    margin: 35px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.helpMenu .hm{
    height: 275px;
    width: 275px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.helpMenu .hm:hover{
    transform: scale(1.2);
}

.helpMenu div .menu_desc{
    height: 100px;
    width: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.helpMenu div .menu_desc i{
    font-size: 75px;
    margin-bottom: 20px;
}

.helpMenu div .menu_desc p{
    height: 100%;
    padding: 10px;
    margin-top: 10px;
    opacity: 0.7;
}

.helpMenu a{
    color: #000000;
}

/* help subpages styles */
.faqs{
    height: 90vh;
    width: 60vw;
    background-color: #ebebeb;
    border-radius: 15px;
    margin: 35px auto;
    display: flex;
    justify-content: space-evenly;
}

.faqs .faqBody{
    position: relative;
    display: block;
    width: 100%;
}

.faqs .backBtn{
    position: absolute;
    left: 10%;
    top: 70%;
    background-color: #0f149a;
    border: 0px;
    border-radius: 7px;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    height: 40px;
    width: 125px;
    margin-top: 75px;
}

.faqs h2{
    margin-top: 25px;
    text-decoration: underline;
    text-align: center;
}

.faqs .faqLinks{
    margin-top: 2%;
    margin-left: 35%;
}

.faqs .faqLinks li{
    color: #0000EE;
    cursor: pointer;
    padding: 10px;
    font-size: 17px;
}

.faqs .faqLinks li:hover{
    color: #63635d;
}

.faqs .faqLinks li p:hover{
    color: #63635d;
}

.faqs ul li{
    list-style-type: disc;
}

.faqs ol li{
    list-style-type: decimal;
}

.faq_answer{
    position: absolute;
    left: 25%;
    top: 25%;
    max-height: 350px;
    width: 500px;
    overflow-y: scroll;
    background-color: white;
    border: 4px solid black;
    border-radius: 15px;
    padding: 30px;
    display: none;
}

.faq_answer .fa-x{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    cursor: pointer;
    opacity: 0.4;
}

.faq_answer h3{
    text-align: center;
    margin-bottom: 20px;
}

.faq_answer p{
    padding: 10px;
}

.faq_answer ol li{
    padding: 5px;
    margin-left: 10%;
}

.faq_answer ul li{
    padding: 5px;
    margin-left: 10%;
}