@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

/* planner2.php / planner3.php / planner4.php styles */
.classFormContainer {
    display: flex;
    justify-content: center;
}

.classForm {
    display: inline-block;
    vertical-align: middle;
    line-height: 100px;
    background-color: #ffffff;
    border-radius: 7px;
    width: 85%;
    margin-top: 100px;
    padding-top: 10px;
    padding-left: 30px;
}

.classForm label {
    font-size: 20px;
    margin-right: 15px;
}

.classForm select option {
    font-size: 18px;
}

.classForm button {
    background-color: #fd9b4d;
    border: 0px;
    border-radius: 7px;
    color: #000000;
    font-size: 20px;
    cursor: pointer;
    height: 40px;
    width: 125px;
    margin-top: 150px;
    margin-right: 30px;
}

.classForm .btnSet .nextBtn, .addBtn {
    float: right;
}