@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

html {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: #23d8fc;
    height: 100vh;
    width: 100vw;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Merriweather';
}