@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

/* schedule.php styles */
.daysOfWeekHeader{
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    width: 95%;
    margin: 10px auto;
    padding: 0 15px;
    border-radius: 15px;
    background-color: #ffffff;
    font-size: 20px;
}

.daysOfWeekHeader p{
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
}

.scheduleDiv{
    background-color: #ffffff;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    max-height: 88vh;
    width: 95%;
    overflow-y: scroll;
    margin: 10px auto;
    padding: 0 15px;
}

::-webkit-scrollbar {
  width: 0px; 
}

.scheduleDiv .timeLabels{
    text-align: right;
    font-size: 20px;
    display: grid;
    grid-template-rows: repeat(24, minmax(100px, 1fr));
}

.scheduleDiv .timeLabels p{
    padding: 0px 15px;
}

.classSlot{
    background-color: #fd9b4d;
    text-align: center;
    width: 150px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.classSlot p{
    margin-top: 20%;
}

.mwf{
    height: 100px;
}

.tr{
    height: 150px;
}

.scheduleDiv .monClasses{
    display: block;
}

.scheduleDiv .tueClasses{
    display: block;
}

.scheduleDiv .wedClasses{
    display: block;
}

.scheduleDiv .thuClasses{
    display: block;
}

.scheduleDiv .friClasses{
    display: block;
}

.scheduleDiv div{
    padding: 15px 0;
}