@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

/* Settings Page Styles */
.accountUpdateInfo {
    background-color: white;
    height: 450px;
    margin: 20px 50px;
    border-radius: 10px;
    border: 3px solid black;
}

.accountUpdateInfo h2 {
    padding-top: 10px;
    padding-left: 30px;
    margin-bottom: 25px;
}

.accountUpdateInfo form {
    margin-top: 50px;
    display: grid;
    gap: 5px 0px;
}

#firstNameLabel {
    grid-row-start: 1;
	grid-column-start: 1;
    margin-left: 30px;
}

#firstName {
    grid-row-start: 2;
	grid-column-start: 1;
    width: 250px;
    height: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    border: #8492A6 2px solid;
    font-size: 17px;
}

#lastNameLabel {
    grid-row-start: 1;
	grid-column-start: 2;
}

#lastName {
    grid-row-start: 2;
	grid-column-start: 2;
    width: 250px;
    height: 30px;
    margin-right: 300px;
    border: #8492A6 2px solid;
    font-size: 17px;
}

#stuNumLabel {
    grid-row-start: 3;
	grid-column-start: 1;
    margin-left: 30px;
}

#stuNum {
    grid-row-start: 4;
	grid-column-start: 1;
    width: 250px;
    height: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    border: #8492A6 2px solid;
    font-size: 17px;
}

#emailLabel {
    grid-row-start: 3;
	grid-column-start: 2;
}

#email {
    grid-row-start: 4;
	grid-column-start: 2;
    width: 250px;
    height: 30px;
    margin-right: 300px;
    border: #8492A6 2px solid;
    font-size: 17px;
}

#usernameLabel {
    grid-row-start: 5;
	grid-column-start: 1;
    margin-left: 30px;
}

#username {
    grid-row-start: 6;
	grid-column-start: 1;
    width: 250px;
    height: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    border: #8492A6 2px solid;
    font-size: 17px;
}

#button1 {
    grid-row-start: 7;
	grid-column-start: 1;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 0px;
    padding: 2px 10px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 7px;
    border: 0px;
    background-color: #fd9b4d;
    color: white;
    cursor: pointer;
}

.accountUpdateInfo form input {
    border-radius: 4px;
    border: 2px solid #6c706d;
    padding-left: 5px;
    background-color: #babfbb;
}

.accountUpdateInfo form input:focus{
    background-color: white;
}

#changePwdDiv {
    height: 360px;
}

#currentPwdLabel {
    grid-row-start: 1;
    grid-column-start: 1;
    margin-left: 30px;
}

#currentPwd {
    grid-row-start: 2;
    grid-column-start: 1;
    width: 250px;
    height: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    border: #8492A6 2px solid;
    font-size: 17px;
}

#newPwdLabel {
    grid-row-start: 3;
    grid-column-start: 1;
    margin-left: 30px;
}

#newPwd {
    grid-row-start: 4;
    grid-column-start: 1;
    width: 250px;
    height: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    border: #8492A6 2px solid;
    font-size: 17px;
}

#newPwdRepeatLabel {
    grid-row-start: 3;
    grid-column-start: 2;
}

#newPwdRepeat {
    grid-row-start: 4;
    grid-column-start: 2;
    width: 250px;
    height: 30px;
    margin-bottom: 30px;
    margin-right: 300px;
    border: #8492A6 2px solid;
    font-size: 17px;
}

#button2 {
    grid-row-start: 5;
    grid-column-start: 1;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 0px;
    padding: 2px 10px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 7px;
    border: 0px;
    background-color: #fd9b4d;
    color: white;
    cursor: pointer;
}