@charset "UTF-8";

body {
	background-image: url('../img/BGImage4.jpg');
}

main {
	margin-top: 5%;
}

.signupForm p{
	display: block;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 50px;
	color: red;
	font-family: 'Roboto', sans-serif;
}

.loginForm p {
	display: block;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 50px;
	color: red;
	font-family: 'Roboto', sans-serif;
}

.wrapper .appLogo{
	margin-right: 65%;
	margin-top: 2px;
	height: 75px;
	width: 75px;
}

.hamburger {
	display: none;
	padding: 15px;
	cursor: pointer;
	transition: all 0.25s ease-in-out;
	/* Remove default button styles */
	background-color: transparent;
	border: 0;
	outline: none; 
}

.hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px; /* Half of bar height */
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	width: 40px;
	height: 4px;
	background-color: #000; /* Black bars */
	border-radius: 4px;
	position: absolute;
	transition: transform .25s ease-in-out, opacity .25s ease-in-out;
}

/* Position the pseudo-elements */
.hamburger-inner::before, .hamburger-inner::after {
	content: "";
  	left: 0;
}

.hamburger-inner::before {
	top: -10px; /* Adjust as needed for spacing */
}

.hamburger-inner::after {
	top: 10px; /* Adjust as needed for spacing */
}

/* Rotate the middle bar to form the first part of the 'X' */
.hamburger.is-active .hamburger-inner {
	transform: rotate(45deg);
}

/* Hide the top bar and position it at the center */
.hamburger.is-active .hamburger-inner::before {
	top: 0;
  	opacity: 0; /* Fade out the top bar */
}

/* Hide the bottom bar and position it at the center, then rotate to complete the 'X' */
.hamburger.is-active .hamburger-inner::after {
	top: 0;
  	transform: rotate(-90deg); /* Rotate the bottom bar to form the other half of the 'X' */
}

.mainLinks{
	display: block;
	padding-left: 50px;
	font-size: 15px;
}

.mobileLinks{
	display: none;
	position: absolute;
	flex-direction: column;
	justify-content: center;
	top: 5vh;
	right: 9vw;
	height: 20vh;
	width: auto;
}

.mobileLinks.is-active{
	display: flex;
}

.mobileLinks li{
	display: flex;
	align-items: center;
	height: 100vh;
	width: 20vw;
	border: 1px solid black;
	background-color: white;
	font-size: 18px;
}

a, li {
	display: inline;
	color: #000000;
	padding: 0px 5px;
	text-decoration: none;
}

a:hover{
	color: blue;
}

.wrapper{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 0%;
	opacity: 0.8;
}

.titleContainer{
	position: absolute;
	width: 50%;
	height: auto;
	background-color: #000000;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
	opacity: 0.8;
}

.title {
	padding-top: 10px;
	color: #23d8fc;
	font-size: 70px;
	font-family: 'Merriweather';
	display: flex;
	justify-content: center;
}

.desc {
	color: #23d8fc;
	padding-top: 10px;
	margin-top: 2%;
	display: flex;
	justify-content: center;
	font-family: 'Merriweather';
	font-size: 30px;
}

/* Footer Styles */
.wrapper3{
	position: absolute;
	left: 0px;
	top: 100%;
	height: 25%;
	background-color: #23d8fc;
    width: 100%;
    display: flex;
    justify-content: center;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	opacity: 0.8;
}

.wrapper3 ul {
	display: grid;
	gap: 10px 200px;
}

.item1 {
	grid-row-start: 1;
	grid-column-start: 1;
}

.item2 {
	grid-row-start: 2;
	grid-column-start: 1;
}

.item3 {
	grid-row-start: 1;
	grid-column-start: 2;
}
.item4 {
	grid-row-start: 2;
	grid-column-start: 2;
}

.item5 {
	grid-row-start: 1;
	grid-column-start: 3;
}

.item6 {
	grid-row-start: 2;
	grid-column-start: 3;
}

.index-categories {
	padding: 25px;
}

.index-categories-list {
	display: flex;
    justify-content: center;
}

.icl {
	background-color: #b0b5b1;
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 10px;
	text-align: center;
}

#greeting {
	color: green;
	text-align: center;
	font-size: 20px;
}

/*signup.php File*/
.signupForm {
	text-align: center;
	margin-top: 5%;
	display: flex;
	justify-content: center;
}

.signupFormDiv {
	display: flex;
	justify-content: center;
	background-color: white;
	width: 45%;
	height: 450px;
	border-radius: 10px;
	opacity: 0.9;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.signupFormSub {
	margin-top: 10px;
}

.signupFormSub p {
	display: inline;
	font-size: 14px;
	font-weight: bold;
	padding-top: 10px;
	color: black;
}

.signupFormSub a {
	display: inline;
	color: blue;
	font-size: 14px;
}

.signupFormDiv button {
	height: 50px;
	width: 509px;
	display: block;
	margin-top: 50px;
	margin-left: 0%;
	margin-bottom: 0px;
	padding-bottom: 0px;
	background-color: #fd9b4d;
	color: white;
	font-size: 20px;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
}

/*login.php File*/
.loginForm {
	text-align: center;
	margin-top: 7%;
	display: flex;
	justify-content: center;
}

.loginFormDiv {
	display: flex;
	justify-content: center;
	background-color: white;
	width: 45%;
	height: 300px;
	border-radius: 10px;
	opacity: 0.9;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.loginFormSub1 {
	margin-top: 20px;
}

.loginFormSub2 {
	margin-top: 10px;
}

.loginFormSub2 p {
	display: inline;
	font-size: 14px;
	font-weight: bold;
	padding-top: 10px;
	color: black;
}

.loginFormSub2 a {
	display: inline;
	color: blue;
	font-size: 14px;
}

.loginFormDiv button {
	height: 50px;
	width: 509px;
	display: block;
	margin-top: 55px;
	margin-left: 0%;
	margin-bottom: 0px;
	padding-bottom: 0px;
	background-color: #fd9b4d;
	color: white;
	font-size: 20px;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
}

/*Other General Styles*/

form {
	padding-left: 10px;
	padding-bottom: 20px;
	padding-top: 30px;
}

input {
	display: block;
	height: 35px;
	width: 500px;
	margin-bottom: 5px;
	font-size: 15px;
}


@media screen and (max-width: 1000px) {
	.wrapper .appLogo{
		margin-right: 55%;
		height: 50px;
		width: 50px;
	}

	.title{
		font-size: 50px;
	}

	.desc{
		font-size: 20px;
	}
}

@media screen and (max-width: 700px) {
	.wrapper .appLogo{
		margin-right: 35%;
	}

	.wrapper3 {
		display: none;
	}

	.titleContainer{
		width: 60%;
	}

	.title{
		font-size: 40px;
	}
	
	.desc{
		font-size: 15px;
	}
}

@media screen and (max-width: 480px) {
	.wrapper .appLogo{
		margin-right: 50%;
		margin-left: 10%;
	}

	.mainLinks{
		display: none;
	}

	.hamburger{
		display: block;
	}

	.titleContainer{
		width: 70%;
	}

	.title{
		font-size: 32px;
	}
	
	.desc{
		font-size: 10px;
	}
}

@media screen and (max-width: 400px) {
	.mobileLinks li{
		font-size: 13px;
	}
}