@charset "UTF-8";

body {
	background-image: url('../img/SchoolSuppliesBGImage.jpg');
}

main {
	margin-top: 5%;
}

.signupForm p{
	display: block;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 50px;
	color: red;
	font-family: 'Roboto', sans-serif;
}

.loginForm p {
	display: block;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 50px;
	color: red;
	font-family: 'Roboto', sans-serif;
}

img{
	margin-right: 65%;
	margin-top: 2px;
	height: 75px;
	width: 75px;
}

ul{
	padding-left: 50px;
	font-size: 15px;
}

a, li {
	display: inline;
	color: #000000;
	padding: 0px 5px;
	text-decoration: none;
}

a:hover{
	color: blue;
}

.wrapper{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 0%;
	opacity: 0.8;
}

.titleContainer{
	position: absolute;
	width: 50%;
	height: 50%;
	background-color: #000000;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
	opacity: 0.8;
}

.title {
	padding-top: 10px;
	color: #23d8fc;
	font-size: 70px;
	font-family: 'Merriweather';
	display: flex;
	justify-content: center;
}

.desc {
	color: #23d8fc;
	padding-top: 10px;
	margin-top: 2%;
	display: flex;
	justify-content: center;
	font-family: 'Merriweather';
	font-size: 30px;
}

/* Footer Styles */
.wrapper3{
	position: absolute;
	left: 0px;
	top: 100%;
	height: 25%;
	background-color: #23d8fc;
    width: 100%;
    display: flex;
    justify-content: center;
	font-family: 'Roboto', sans-serif;
	font-size: 2px;
	opacity: 0.8;
}

.wrapper3 ul {
	display: grid;
	gap: 10px 200px;
}

.item1 {
	grid-row-start: 1;
	grid-column-start: 1;
}

.item2 {
	grid-row-start: 2;
	grid-column-start: 1;
}

.item3 {
	grid-row-start: 1;
	grid-column-start: 2;
}
.item4 {
	grid-row-start: 2;
	grid-column-start: 2;
}

.item5 {
	grid-row-start: 1;
	grid-column-start: 3;
}

.item6 {
	grid-row-start: 2;
	grid-column-start: 3;
}

.index-categories {
	padding: 25px;
}

.index-categories-list {
	display: flex;
    justify-content: center;
}

.icl {
	background-color: #b0b5b1;
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 10px;
	text-align: center;
}

#greeting {
	color: green;
	text-align: center;
	font-size: 20px;
}

/*signup.php File*/
.signupForm {
	text-align: center;
	margin-top: 5%;
	display: flex;
	justify-content: center;
}

.signupFormDiv {
	display: flex;
	justify-content: center;
	background-color: white;
	width: 45%;
	height: 450px;
	border-radius: 10px;
	opacity: 0.9;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.signupFormSub {
	margin-top: 10px;
}

.signupFormSub p {
	display: inline;
	font-size: 14px;
	font-weight: bold;
	padding-top: 10px;
	color: black;
}

.signupFormSub a {
	display: inline;
	color: blue;
	font-size: 14px;
}

.signupFormDiv button {
	height: 50px;
	width: 509px;
	display: block;
	margin-top: 50px;
	margin-left: 0%;
	margin-bottom: 0px;
	padding-bottom: 0px;
	background-color: #fd9b4d;
	color: white;
	font-size: 20px;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
}

/*login.php File*/
.loginForm {
	text-align: center;
	margin-top: 7%;
	display: flex;
	justify-content: center;
}

.loginFormDiv {
	display: flex;
	justify-content: center;
	background-color: white;
	width: 45%;
	height: 300px;
	border-radius: 10px;
	opacity: 0.9;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.loginFormSub1 {
	margin-top: 20px;
}

.loginFormSub1 a {
	display: inline;
	color: blue;
	font-size: 14px;
}

.loginFormSub2 {
	margin-top: 10px;
}

.loginFormSub2 p {
	display: inline;
	font-size: 14px;
	font-weight: bold;
	padding-top: 10px;
	color: black;
}

.loginFormSub2 a {
	display: inline;
	color: blue;
	font-size: 14px;
}

.loginFormDiv button {
	height: 50px;
	width: 509px;
	display: block;
	margin-top: 55px;
	margin-left: 0%;
	margin-bottom: 0px;
	padding-bottom: 0px;
	background-color: #fd9b4d;
	color: white;
	font-size: 20px;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
}

/*Other General Styles*/

form {
	padding-left: 10px;
	padding-bottom: 20px;
	padding-top: 30px;
}

input {
	display: block;
	height: 35px;
	width: 500px;
	margin-bottom: 5px;
	font-size: 15px;
}

